html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: center; /* 让文字居中 */
    min-height: 100vh;
}
h1 {
    font-size: 24px; /* 大标题字体大小 */
    color: blue; /* 标题颜色 */
}

h2 {
    font-size: 20px; /* 小标题字体大小 */
    color: #666; /* 小标题颜色 */
}

p {
    font-size: 16px; /* 段落字体大小 */
    color: #444; /* 段落文字颜色 */
    line-height: 1.6; /* 行高 */
}

h5 {
    font-size: 12px; /* 注释字体大小 */
    color: #999; /* 注释颜色 */
}







