<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  </head>
  <body>
    <header>
      <!-- 这里是你的网站标题和导航栏 -->
      <h1>不再寂寞的烟火's blog</h1>
      <nav>
          <ul>
              <li><a href="https://cs0729.github.io/2024/04/15/Technique.html">Technique</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Life.html">Life</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Music.html">Music</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Movie.html">Movie</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Reading.html">Reading</a></li>
              <li><a href="https://github.com/CS0729">My GitHub</a></li>
          </ul>
      </nav>
  </header>
  <aside>
    <div class="left-sidebar">
        <h4>🫠其它</h4>
        <br>
        <br>
        <ul>
            <li><a href="https://cs0729.github.io/2024/04/15/blogreason.html">为什么写博客</a></li>
            <br>
            <li><a href="https://cs0729.github.io/2024/04/15/wechatname.html">关于不再寂寞的烟火</a></li>
            <br>
        </ul>
    </div>
</aside>
  <main>
    {{content}}
  </main>
    <aside>
      <!-- 这里是你的侧边栏区域 -->
      <div class="sidebar">
          <h3>✅目录</h3>
          <br>
          <br>
          <ul>
              <li><a href="#关于我">关于我</a></li>
              <br>
              <li><a href="#我想说些什么">我想说些什么</a></li>
              <br>
              <li><a href="#联系方式">联系方式</a></li>
              <br>
          </ul>
      </div>
    </aside>
  
  <footer>
      <!-- 这里是你的页脚内容 -->
      <p>&copy; 2024 My Blog</p>
  </footer>
  </body>
</html>
