<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  </head>
  <body>
    <header>
      <!-- 这里是你的网站标题和导航栏 -->
      <h1>不再寂寞的烟火's blog</h1>
      <nav>
          <ul>
              <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/Technique.md">Technique</a></li>
              <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/Life.md">Life</a></li>
              <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/Music.md">Music</a></li>
              <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/Movie.md">Movie</a></li>
              <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/Reading.md">Reading</a></li>
              <li><a href="https://github.com/CS0729">My GitHub</a></li>
          </ul>
      </nav>
  </header>
  <aside>
    <div class="left-sidebar">
        <h4>Extra information</h4>
        <ul>
            <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/blogreason.md">为什么写博客</a></li>
            <li><a href="https://github.com/CS0729/CS0729.github.io/blob/master/_posts/wechatname.md">关于不再寂寞的烟火</a></li>
            
        </ul>
    </div>
</aside>
  <main>
    {{content}}
  </main>
    <aside>
      <!-- 这里是你的侧边栏区域 -->
      <div class="sidebar">
          <h3>目录</h3>
          <ul>
              <li><a href="#关于我">关于我</a></li>
              <li><a href="#我想说些什么">我想说些什么</a></li>
              <li><a href="#联系方式">联系方式</a></li>
          </ul>
      </div>
    </aside>
  
  <footer>
      <!-- 这里是你的页脚内容 -->
      <p>&copy; 2024 My Blog</p>
  </footer>
  </body>
</html>
