<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/customx.css" | relative_url }}">
</head>
<body>
    <header>
        <!-- 这里是你的网站标题和导航栏 -->
        <h1>不再寂寞的烟火's blog</h1>
        <nav>
            <ul>
              <li><a href="https://cs0729.github.io/2024/04/15/Technique.html">Technique</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Life.html">Life</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Music.html">Music</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Movie.html">Movie</a></li>
              <li><a href="https://cs0729.github.io/2024/04/15/Reading.html">Reading</a></li>
              <li><a href="https://github.com/CS0729">My GitHub</a></li>
            </ul>
        </nav>
    </header>

    <main>
  {{ content }}
    </main>

    <aside class="left-sidebar">
        <ul>
            <li><a href="https://cs0729.github.io">主页</a></li>
        </ul>
    </aside>>

    <aside class="right-sidebar">
        <h4>目录</h4>
        <ul>
            <li><a href="https://cs0729.github.io/2024/04/15/blogreason.html">为什么写博客</a></li>
            <li><a href="https://cs0729.github.io/2024/04/15/wechatname.html">关于不再寂寞的烟火</a></li>
        </ul>
    </aside>

</body>
</html>
